<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.notisiren">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:name=".app.NotiSirenApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="NotiSiren"
        android:supportsRtl="true"
        >

        <activity android:name="com.example.notisiren.app.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="com.example.notisiren.service.MyNotificationListener"
            android:exported="false"
            android:label="Email Alarm Listener"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>

    </application>
</manifest>